.ant-col-6:nth-child(odd) {
  background-color: lightgray;
}

.ant-col-6:nth-child(even) {
  background-color: lightblue;
}


/* .ant-col-12:nth-child(odd) {
  background-color: gray;
}

.ant-col-8:nth-child(odd) {
  background-color: gray;
}

.ant-col-6:nth-child(odd) {
  background-color: gray;
}

.ant-col-12:nth-child(even) {
  background-color: yellow;
}

.ant-col-8:nth-child(even) {
  background-color: yellow;
}

.ant-col-6:nth-child(even) {
  background-color: yellow;
} */
